<% include ./partials/header.ejs %>
<div class="w-full min-h-screen bg-zinc-900 text-white py-5">
  <div class="flex justify-between items-center px-4">
    <a class="text-sm text-blue-500" href="/profile"
      ><i class="ri-arrow-left-s-line"></i> profile</a
    >
    <h2 class="leading-none text-sm">Upload Post</h2>
    <a class="text-sm" href="/feed"><i class="ri-home-line"></i> home</a>
  </div>
  <div class="flex flex-col items-center gap-2 mt-20">
    <div
      class="image w-[25vw] h-[25vw] rounded-full border-2 border-zinc-800 flex items-center justify-center overflow-hidden"
    >
      <img
        class="w-full h-full object-cover"
        src="/images/uploads/<%= user.profileImage %>"
        alt=""
      />
      <!-- <i class="text-5xl font-light ri-image-line"></i> -->
    </div>
    <button id="selectpic" class="text-blue-500 capitalize">
      select picture
    </button>
  </div>
  <div class="btngrp flex justify-center gap-4 mt-3">
    <button
      class="btn selected border-b-2 pb-2 border-zinc-400"
      onclick="setType('post')"
    >
      Post
    </button>
    <button
      class="btn opacity-30 border-b-2 border-zinc-900 mt-[-2%] px-2"
      onclick="setType('story')"
    >
      Story
    </button>
  </div>

  <form
    id="uploadform"
    action="/upload"
    class="w-full px-6 py-3 mt-10"
    enctype="multipart/form-data"
    method="post"
  >
    <input hidden type="file" name="image" />
    <input
      type="radio"
      hidden
      name="type"
      value="post"
      id="postTypeInput"
      checked
    />
    <input type="radio" hidden name="type" value="story" id="storyTypeInput" />
    <textarea
      name="caption"
      id="caption"
      class="px-2 py-1 w-full bg-zinc-900 border-2 h-20 border-zinc-800 resize-none rounded-md outline-none"
      placeholder="Write a caption..."
    ></textarea>
    <input
      class="w-full px-2 py-2 bg-blue-500 rounded-md"
      type="submit"
      value="Post"
    />
  </form>
</div>

<script>
  document.querySelector("#selectpic").addEventListener("click", function () {
    document.querySelector("#uploadform input").click();
  });

  function handleSwitchTypePost() {
    document.querySelector(".btngrp").addEventListener("click", function (ev) {
      if (ev.target.classList.contains("btn")) {
        if (!ev.target.classList.contains("selected")) {
          var selected = ev.target.parentNode.querySelector(".selected");
          selected.classList.remove("selected", "border-zinc-400");
          selected.classList.add("opacity-30", "border-zinc-900");

          ev.target.classList.add("selected", "border-zinc-400");
          ev.target.classList.remove("opacity-30", "border-zinc-900");
        }
      }
    });
  }

  function setType(type) {
    if (type === "post") {
      document.getElementById("postTypeInput").checked = true;
      document.getElementById("storyTypeInput").checked = false;
    } else if (type === "story") {
      document.getElementById("storyTypeInput").checked = true;
      document.getElementById("postTypeInput").checked = false;
    }
  }
  handleSwitchTypePost();
</script>
<% include ./partials/footer.ejs %>
